.form {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-flow: column;
  gap: 5px;
  padding: 10px;
}

.form label {
  grid-column: 1;
}

.form input {
  grid-column: 2;
}

.form :is(button, pre, :global(.span-row)) {
  grid-column: 1 / 3;
}

:global(.result) {
  grid-column: 1 / 3;
  font-family: monospace;
  line-break: anywhere;
}
